.u-section-1 .u-sheet-1 {
  min-height: 1651px;
}

.u-section-1 .u-text-1 {
  font-family: Convergence;
  margin: 72px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Convergence;
  margin: 92px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: Convergence;
  margin: 72px auto 60px;
}