.u-section-1 .u-sheet-1 {
  min-height: 1752px;
}

.u-section-1 .u-text-1 {
  font-family: Convergence;
  margin: 80px auto 0;
}

.u-section-1 .u-image-1 {
  width: 843px;
  height: 632px;
  margin: 38px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1660px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 540px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1525px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1375px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }
}